<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>CCExchange</title>
    <link rel="icon" sizes="32x32" href="websiteIcon.png">
    <link rel="stylesheet" href="./index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="index.js"></script>

</head>
<body ng-app="indexApp" ng-controller="indexController">
<h1 style="color: red; text-align: center">Welcome to the Crypto Currency Calculator!</h1>
<p style="text-align: center"><em>Made by </em><em><b>Ijac Richard Tamas</em></b></p>
<a href="https://coinmarketcap.com/all/views/all/" title="List of cryptocurrencies">Go to source</a>
<table class="table" style="margin-left: 1%">
    <tr style="width: 50%;">
        <td style="cursor: pointer">
            <img src="btcIcon.png" ng-click="btcPage()">
        </td>

        <td style="cursor: pointer">
            <img src="ltcIcon.jpg" ng-click="ltcPage()">
        </td>

        <td style="cursor: pointer">
            <img src="nmcIcon.png" ng-click="nmcPage()">
        </td>

        <td style="cursor: pointer">
            <img src="swfIcon.png" ng-click="swfPage()">
        </td>

        <td style="cursor: pointer">
            <img src="bytIcon.png" ng-click="bytPage()">
        </td>

        <td style="cursor: pointer">
            <img src="peeIcon.png" ng-click="peePage()">
        </td>
    </tr>

    <tr>
        <td style="cursor: pointer">
            <img src="bitIcon.png" ng-click="bitPage()">
        </td>

        <td style="cursor: pointer">
            <img src="emeIcon.png" ng-click="emePage()">
        </td>

        <td style="cursor: pointer">
            <img src="feaIcon.png" ng-click="feaPage()">
        </td>

        <td style="cursor: pointer">
            <img src="grdIcon.png" ng-click="grdPage()">
        </td>

        <td style="cursor: pointer">
            <img src="priIcon.png" ng-click="priPage()">
        </td>

        <td style="cursor: pointer">
            <img src="ripIcon.jpg" ng-click="ripPage()">
        </td>
    </tr>

    <tr>
        <td style="cursor: pointer">
            <img src="nxtIcon.png" ng-click="nxtPage()">
        </td>

        <td style="cursor: pointer">
            <img src="cyeIcon.png" ng-click="cyePage()">
        </td>

        <td style="cursor: pointer">
            <img src="dasIcon.jpg" ng-click="dasPage()">
        </td>

        <td style="cursor: pointer">
            <img src="neoIcon.png" ng-click="neoPage()">
        </td>

        <td style="cursor: pointer">
            <img src="mazIcon.jpg" ng-click="mazPage()">
        </td>

        <td style="cursor: pointer">
            <img src="ethIcon.png" ng-click="ethPage()">
        </td>
    </tr>

    <tr>
        <td style="cursor: pointer">
            <img src="monIcon.png" ng-click="monPage()">
        </td>

        <td style="cursor: pointer">
            <img src="nemIcon.png" ng-click="nemPage()">
        </td>

        <td style="cursor: pointer">
            <img src="potIcon.png" ng-click="potPage()">
        </td>

        <td style="cursor: pointer">
            <img src="synIcon.png" ng-click="synPage()">
        </td>

        <td style="cursor: pointer">
            <img src="titIcon.png" ng-click="titPage()">
        </td>

        <td style="cursor: pointer">
            <img src="vegIcon.png" ng-click="vegPage()">
        </td>
    </tr>

    <tr>
        <td style="cursor: pointer">
            <img src="steIcon.png" ng-click="stePage()">
        </td>

        <td style="cursor: pointer">
            <img src="verIcon.jpg" ng-click="verPage()">
        </td>

        <td style="cursor: pointer">
            <img src="decIcon.png" ng-click="decPage()">
        </td>

        <td style="cursor: pointer">
            <img src="wavIcon.jpg" ng-click="wavPage()">
        </td>

        <td style="cursor: pointer">
            <img src="zcaIcon.png" ng-click="zcaPage()">
        </td>

        <td style="cursor: pointer">
            <img src="btcIcon.png" ng-click="btpPage()">
        </td>
    </tr>

    <tr>


        <td style="cursor: pointer">
            <img src="eosIcon.png" ng-click="eosPage()">
        </td>

        <td style="cursor: pointer">
            <img src="carIcon.png" ng-click="carPage()">
        </td>

        <td style="cursor: pointer">
            <img src="kodIcon.png" ng-click="kodPage()">
        </td>

        <td style="cursor: pointer">
            <img src="petIcon.png" ng-click="petPage()">
        </td>

        <td style="cursor: pointer">
            <img src="dogIcon.png" ng-click="dogPage()">
        </td>
    </tr>

</table>
</body>
</html>