body {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-left: 100px;
}

select {
    margin-top: -5px;
    padding: 5px;
}

ul {
    list-style: none;
    display: inline-block;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0px;
    padding-right: 10px;
}

input {
    font-size: 16px;
    padding: 10px;
    width: 50px;
    text-align: center;
    outline: none;
}

input:focus {
    background-color: #ffe89d;
}

.invalid-input {
    border: 2px solid #ffc400;
    -webkit-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

.valid-input {
    border: 2px solid green;
    background-color: green;
    color: white;
    -webkit-transition: all 1000ms linear;
    -ms-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

button {
    margin-top: 10px;
    padding: 15px;
    border: 0px;
    color: white;
    background-color: #0053c0;
    outline: none;
}

button:hover {
    cursor: pointer;
}

code {
    background-color: #efffec;
    margin: 0px;
}